<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="thd.bd.sms">

    <!--读取系统信息，包含系统版本等信息，用作统计-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--//使用步行AR导航，配置Camera权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--//程序在手机屏幕关闭后后台进程仍然运行-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 需要的一些权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SET_TIME"
        tools:ignore="ProtectedPermissions" />


    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <permission android:name="android.permission.DEVICE_POWER"/>


    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MAppTheme1"
        android:name=".application.SMSApplication"
        android:hardwareAccelerated="false">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="uk0WQ6V5uYiITHhgwqjZ4w6mhk4sfeUi" >
        </meta-data>

        <!--适配全面屏-->
        <meta-data android:name="android.max_aspect" android:value="2.1" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>



        <activity android:name=".activity.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".activity.BSIActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".activity.ReplyMessageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".activity.BDContactActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".activity.BDTimeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".activity.MainCenterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".activity.StatelliteStatusActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".activity.LocActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".activity.FriendLocationMapActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".activity.RDLocationSetActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".activity.ReportSetActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>


        <activity android:name=".activity.FriendLocationDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".activity.MsgdbActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".activity.SoSsetActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".activity.SOSActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <activity android:name=".activity.MapOfflineActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <!-- 软件信息界面 -->
        <activity
            android:name=".activity.SoftwareActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/mDialogStyleCustom">
        </activity>

        <!-- 短语操作界面 -->
        <activity
            android:name=".activity.MsgUsalWordActivity"
            android:configChanges="orientation|screenSize"
            android:label="短语管理"
            android:theme="@style/mDialogStyleCustom">
        </activity>
        <!-- 状态操作界面 -->
        <activity
            android:name=".activity.StateCodeActivity"
            android:configChanges="orientation|screenSize"
            android:label="自定义状态"
            android:theme="@style/mDialogStyleCustom">
        </activity>





        <service
            android:name="thd.bd.sms.service.CoreService"
            >
            <!--android:process="system"-->
            <intent-filter>
                <action android:name="thd.bd.sms.service.CoreService"/>
            </intent-filter>
        </service>

        <!-- 连续定位服务 -->
        <service android:name="thd.bd.sms.service.CycleLocService">
            <intent-filter>
                <action android:name="thd.bd.sms.service.CycleLocService"/>
            </intent-filter>
        </service>

        <!-- 连续报告基类 -->
        <service android:name="thd.bd.sms.service.CycleReportService">
            <intent-filter>
                <action android:name="thd.bd.sms.service.CycleReportService"/>
            </intent-filter>
        </service>
        <!-- 连续rd位置报告 -->
        <service android:name="thd.bd.sms.service.CycleReportRDLocService">
            <intent-filter>
                <action android:name="thd.bd.sms.service.CycleReportRDLocService"/>
            </intent-filter>
        </service>

        <!-- 连续rn位置报告 -->
        <service android:name="thd.bd.sms.service.CycleReportRNLocService">
            <intent-filter>
                <action android:name="thd.bd.sms.service.CycleReportRNLocService"/>
            </intent-filter>
        </service>
        <!-- 连续短报文状态报告服务 -->
        <service android:name="thd.bd.sms.service.CycleReportStatuService">
            <intent-filter>
                <action android:name="thd.bd.sms.service.CycleReportStatuService"/>
            </intent-filter>
        </service>
        <!-- 连续短报文sos报告服务 -->
        <service android:name="thd.bd.sms.service.CycleReportSOSService">
            <intent-filter>
                <action android:name="thd.bd.sms.service.CycleReportSOSService"/>
            </intent-filter>
        </service>


    </application>

</manifest>